spoticry/src/resources/users
spoticry/src/resources/img
spoticry/src/resources/webdriver
spoticry/src/resources/albums
spoticry/src/resources/artists
spoticry/src/resources/playlists
spoticry/src/resources/songs
spoticry/src/resources/site-users
spoticry/__pycache__
spoticry-account/nordvpn